<div class="cart-header">
  <button class="checkout-button" (click)="checkout.emit()">
    Checkout
  </button>
</div>

@if (cartItems().length > 0) {
  @for (item of cartItems(); track item.product.id) {
    <div class="cart-item-card">
      <div class="product-info">
        <h3>{{ item.product.name }}</h3>
        <p>Price: {{ item.product.price | currency:'USD':'symbol':'1.2-2' }}</p>
        <p>Quantity: {{ item.quantity }}</p>
      </div>

      <div class="quantity-controls">
        <button class="qty-btn" (click)="decrement.emit(item.product.id)">-</button>
        <span class="qty-value">{{ item.quantity }}</span>
        <button class="qty-btn" (click)="increment.emit(item.product)">+</button>
      </div>

        <div class="item-total">
          Total: {{ item.product.price * item.quantity | currency:'USD':'symbol':'1.2-2' }}
        </div>
    </div>
  }
} @else {
  <p>Your cart is empty.</p>
}